<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FamilySearch.API.SDK" version="1.0.5422.31549" targetFramework="net45" />
  <package id="Flurl" version="1.0.7" targetFramework="net45" />
  <package id="Gedcomx.API.SDK" version="1.0.5422.31548" targetFramework="net45" />
  <package id="Gedcomx.File" version="1.0.5422.31544" targetFramework="net45" />
  <package id="Gedcomx.Model" version="1.0.5422.31541" targetFramework="net45" />
  <package id="Gedcomx.Model.Fs" version="1.0.5422.31542" targetFramework="net45" />
  <package id="Gedcomx.Model.Rs" version="1.0.5422.31542" targetFramework="net45" />
  <package id="Google.Apis" version="1.9.1" targetFramework="net45" />
  <package id="Google.Apis.Core" version="1.9.1" targetFramework="net45" />
  <package id="Google.Apis.Customsearch.v1" version="1.9.0.460" targetFramework="net45" />
  <package id="GoogleCustomSearchEngine" version="2.0.0" targetFramework="net45" />
  <package id="GoogleSearchApi" version="1.0.1" targetFramework="net45" />
  <package id="json-ld.net" version="1.0.4" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Google" version="3.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Rest4Net" version="2.0.1.1" targetFramework="net45" />
  <package id="Rest4Net.GoogleCustomSearch" version="2.0.1.1" targetFramework="net45" />
  <package id="RestSharp" version="105.1.0" targetFramework="net45" />
  <package id="Tavis.UriTemplates" version="0.6.3" targetFramework="net45" />
  <package id="Zlib.Portable" version="1.10.0" targetFramework="net45" />
</packages>